<div class="wrapper">
    <div class="main__head">
        <img src="assets/img/logo.png" width="33%" height="33%" alt="logo" routerLink="/main">
        <div class="main__head__container">
            <div class="main__head__container__top-outlet">
                <button class='main__head__container__top-outlet__login' [routerLink]="['/login']"
                    [queryParams]="{actualState: 'sign-in', redirectTo: '/account'}">{{ userName }}</button>
            </div>
            <div class="main__head__container__bottom-outlet">
                <button>but</button>
                <button>but</button>
                <button>but</button>
                <button>but</button>

            </div>
        </div>
    </div>
</div>