<ng-container *ngIf="this.actualState === 'sign-up'" class="Form">
    <h3>Sign Up</h3>
    <form [formGroup]="signUpForm" (submit)="signUp()">
        <label class="control-name">Email</label>
        <input id="email" formControlName="email" type="email" class="form-control">
        <label
            class="text-danger"
            *ngIf="signUpForm.controls['email'].hasError('email')"
        >
            Enter a valid email address!
        </label>
        <label
        class="text-danger"
        *ngIf="signUpForm.controls['email'].hasError('required')"
        >
            Enter an email address!
        </label>
        <label class="control-name">Password</label>
        <input id="password" formControlName="password" type="password" class="form-control">
        <label
        class="text-danger"
        *ngIf="signUpForm.controls['password'].hasError('hasNumber')"
        >
            Must have at least 1 number!
        </label>
        <label
        class="text-danger"
        *ngIf="signUpForm.controls['password'].hasError('hasCapitalCase')"
        >
            Must have CapitalCase!
        </label>
        <label
        class="text-danger"
        *ngIf="signUpForm.controls['password'].hasError('hasSmallCase')"
        >
            Must have SmallCase
        </label>
        <label
        class="text-danger"
        *ngIf="signUpForm.controls['password'].hasError('hasSpecialCharacters')"
        >
            Must have hasSpecialCharacters
        </label>
        <label
        class="text-danger"
        *ngIf="signUpForm.controls['password'].hasError('minlength')"
        >
            Must be at least 8 characters!
        </label>
        <label class="control-name">Confirm Password</label>
        <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control">
        <label
        class="text-danger"
        *ngIf="signUpForm.hasError('NoPassswordMatch')"
        >
            Passwords must match
        </label>
        <input type="submit" value="submit" [disabled]="signUpForm.invalid">
    </form>
    <label
    class="text-danger"
    *ngIf="signUpError.state"
    >
        {{signUpError.message}}
    </label>
    <i (click)="getBackToSignIn()">Back</i>
</ng-container>
<ng-container *ngIf="this.actualState === 'sign-in'" class="Form">
    <h3>Sign In</h3>
    <form [formGroup]="signInForm" (submit)="signIn()">
    <label class="control-name">Email</label>
    <input id="email" formControlName="email" type="email" class="form-control">
    <label
        class="text-danger"
        *ngIf="signInForm.controls['email'].hasError('email')"
    >
        Enter a valid email address!
    </label>
    <label class="control-name">Password</label>
    <input id="password" formControlName="password" type="password" class="form-control">
    <input type="submit" value="Submit" [disabled]="signInForm.invalid">
    </form>
    <label
    class="text-danger"
    *ngIf="signInError.state"
    >
        {{signInError.message}}
    </label>
    <i (click)="toSignUp()">Don't have an account? Register</i>
    <i (click)="toForgotPassword()">Forgot password?</i>
</ng-container>
<ng-container *ngIf="this.actualState === 'forgot-password'" class="Form">
    <h3>Reset Password</h3>
    <form [formGroup]="forgotPasswordForm" (submit)="forgotPassword()">
    <label class="control-name">Email</label>
    <input id="email" formControlName="email" type="email" class="form-control">
    <label
        class="text-danger"
        *ngIf="signInForm.controls['email'].hasError('email')"
    >
        Enter a valid email address!
    </label>
    <input type="submit" value="Submit" [disabled]="forgotPasswordForm.invalid">
    </form>
    <label
    class="text-danger"
    *ngIf="forgotPasswordError.state"
    >
        {{forgotPasswordError.message}}
    </label>
    <label
    class="text-success"
    *ngIf="forgotPasswordEmailSent"
    >
        Сообщение для сброса пароля отправлено на ваш email.
    </label>
    <i (click)="getBackToSignIn()">Back</i>
</ng-container>