<div class="card" [routerLink]="'/account/card/' + (card$ | async)?.id" [class.banned]="(card$ | async)?.isBanned">
    <div class="card__icon">
        <span class="card__icon-img">
            <img src="assets/img/cardIcon.svg" alt="cardIcon">
        </span>       
    </div>
    <div class="card__info">
        <span class="card__info-top-bar">
            <span class="card__info__name">{{ (card$ | async)?.name }}</span>
            <span class="card__info__balance">{{ (card$ | async)?.balance }} ₽</span>
        </span>
        <p class="card__info-bottom-bar">
            {{ (card$ | async)!.cardNumber | cardNumber: true }}
        </p>
    </div>
</div>
