<div class="wrapper">
    <div class="account__head">
        <img src="assets/img/logo.png" width="33%" height="33%" alt="logo" routerLink="/main">
        <div class="account__head__container">
            <div class="account__head__container-item">
                <button class="account__head__container-item__logout" (click)="logOut()">Выйти</button>
            </div>
            <div class="account__head__container-item__bottom-outlet">
                <div class="account__head__container-item__bottom-outlet-item" [class.active]="isActive('/account')">
                    <app-account-header-breadcrumb url="/account" label="Главная"></app-account-header-breadcrumb>
                </div>
                <div class="account__head__container-item__bottom-outlet-item" *ngFor="let breadcrumb of breadcrumbs" [class.active]="isActive(breadcrumb.url)">
                    <app-account-header-breadcrumb [url]="breadcrumb.url" [label]="breadcrumb.label"></app-account-header-breadcrumb>
                </div>
            </div>
        </div>
    </div>
</div>