.account__head {
    max-width: 1200px;
    max-height: 100px;
    margin: 0 auto;
    display: flex;
    padding: 15px;
    padding-bottom: 0;
    gap: 20px;

    img {
        cursor: pointer;
        max-height: 70px;
        max-width: 100%;
        object-fit: contain;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: space-between;
        width: 100%;
    }

    &__container-item {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;

        &__bottom-outlet {
            display: flex;
            margin-bottom: 8px;
            align-items: center;
            gap: 25px;
            flex-direction: row;
            &-item {
                font-size: larger;
                border: none;
                background-color: transparent;
                //border-bottom: 4px solid transparent;
                position: relative;
                transition: .2s;

                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
                padding-bottom: 15px;
                &.active {
                    &::after {
                        transform: translateX(-50%);
                        bottom: 0;
                        left: 50%;
                        content: '';
                        position: absolute;
                        display: block;
                        border-bottom: 4px solid rgb(38, 185, 9);
                        width: 100%;
                    }
                }

                &::after {
                    transform: translateX(-50%);
                    bottom: 0;
                    left: 50%;
                    content: '';
                    position: absolute;
                    display: block;
                    border-bottom: 4px solid rgb(38, 185, 9);
                    width: 0;
                    transition: .2s;
                }
            }
        }

        &__logout {
            background-color: #ca0303;
            width: fit-content;
            color: white;
            padding: 5px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: large;

            &:hover {
                background-color: #7a0606;
            }
        }
    }
}

.wrapper {
    background: rgb(255, 255, 255);
    box-shadow: 0 1px 24px 0 rgb(0 0 0 / 14%);
    position: sticky;
    top: 0;
    z-index: 1000;
}