<div @textAppears class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Вы действительно хотите удалить карту?</h3>
            <button type="button" class="close" (click)="cancel()"><img src="assets/img/cancel-btn.svg" alt="cancel"></button>
        </div>
        <div class="modal-body">
            <p class="modal-body-warning">Если вы удалите карту, то все средства на ней будут потеряны.</p>
            <p class="modal-body-tip">
                Вы действительно хотите продолжить?
            </p>
        </div>
        <div class="modal-footer">
            <button class="button close" (click)="cancel()">
                Нет
            </button>
            <button class="button confirm" (click)="confirm()">
                Да
            </button>
        </div>
    </div>
</div>