<div class="wrapper">
    <div class="header"><h3>{{ actualState | loginRU }}</h3><button [routerLink]="['/main']">На главную</button></div>
<div *ngIf="this.actualState === state.signUp" class="Form">
    <form [formGroup]="signUpForm" (submit)="signUp()">
        <label class="control-name">Email</label>
        <input id="email" formControlName="email" type="email" class="form-control">
        <label
            class="text-danger"
            *ngIf="signUpForm.controls['email'].hasError('email')" @textAppears
        >
            Введите верный email!
        </label>
        <label
        class="text-danger"
        *ngIf="signUpForm.controls['email'].hasError('required')" @textAppears
        >
            Введите email!
        </label>
        <label class="control-name">Пароль</label>
        <input id="password" formControlName="password" type="password" class="form-control">
        <label
        class="text-danger"
        *ngIf="signUpForm.controls['password'].hasError('hasNumber')" @textAppears
        >
            Пароль должен содержать хотя бы одну цифру!
        </label>
        <label
        class="text-danger"
        *ngIf="signUpForm.controls['password'].hasError('hasCapitalCase')" @textAppears
        >
            Пароль должен содержать хотя бы одну заглавную букву!
        </label>
        <label
        class="text-danger"
        *ngIf="signUpForm.controls['password'].hasError('hasSmallCase')" @textAppears
        >
            Пароль должен содержать хотя бы одну строчную букву!
        </label>
        <label
        class="text-danger"
        *ngIf="signUpForm.controls['password'].hasError('hasSpecialCharacters')" @textAppears
        >
            Пароль должен содержать хотя бы один спецсимвол!
        </label>
        <label
        class="text-danger"
        *ngIf="signUpForm.controls['password'].hasError('minlength')" @textAppears
        >
            Пароль должен быть не короче 8 символов!
        </label>
        <label class="control-name">Повторите пароль</label>
        <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control">
        <label
        class="text-danger"
        *ngIf="signUpForm.hasError('NoPassswordMatch')" @textAppears
        >
            Пароли не совпадают!
        </label>
        <input type="submit" value="Зарегистрироваться" [disabled]="signUpForm.invalid || isSubmitDisabled">
    </form>
    <i (click)="getBackToSignIn()">Назад</i>
</div>
<div *ngIf="this.actualState === state.signIn" class="Form">
    <form [formGroup]="signInForm" (submit)="signIn()">
    <label class="control-name">Email</label>
    <input id="email" formControlName="email" type="email" class="form-control">
    <label
        class="text-danger"
        *ngIf="signInForm.controls['email'].hasError('email')" @textAppears
    >
        Введите верный email!
    </label>
    <label class="control-name">Пароль</label>
    <input id="password" formControlName="password" type="password" class="form-control">
    <input type="submit" value="Войти" [disabled]="signInForm.invalid || isSubmitDisabled">
    </form>
    <i (click)="toSignUp()">Нет аккаунта? Зарегистрируйтесь</i>
    <i (click)="toForgotPassword()">Забыли пароль?</i>
</div>
<div *ngIf="this.actualState === state.forgotPassword" class="Form">
    <form [formGroup]="forgotPasswordForm" (submit)="forgotPassword()">
    <label class="control-name">Email</label>
    <input id="email" formControlName="email" type="email" class="form-control">
    <label
        class="text-danger"
        *ngIf="forgotPasswordForm.controls['email'].hasError('email')" @textAppears
    >
        Введите верный email!
    </label>
    <input type="submit" value="Отправить" [disabled]="forgotPasswordForm.invalid || isSubmitDisabled">
    </form>
    <label
    class="text-success"
    *ngIf="forgotPasswordEmailSent"
    >
        Сообщение для сброса пароля отправлено на ваш email.
    </label>
    <i (click)="getBackToSignIn()">Назад</i>
</div>
</div>