<div class="card" *ngIf="card$ | async as card" [routerLink]="'/account/card/' + card.id"
 [class.banned]="card.isBanned" [class.active]="isCardSelected(card.id)">
    <div class="card__icon">
        <span class="card__icon-img">
            <img src="assets/img/cardIcon.svg" alt="cardIcon">
        </span>       
    </div>
    <div class="card__info">
        <span class="card__info-top-bar">
            <span class="card__info__name">{{ card.name }} </span>
            <span class="card__info__balance">{{ card.balance }} ₽</span>
        </span>
        <p class="card__info-bottom-bar">
            {{ card.cardNumber | cardNumber: true }}
        </p>
    </div>
</div>
